#include <windows.h> // include for version info constants

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "openzelda-player.ico"

1 VERSIONINFO
FILEVERSION 0,9,6,1201
PRODUCTVERSION 1,9,0,1201
FILETYPE VFT_APP
{
	BLOCK "StringFileInfo"
	{
		BLOCK "0C0904E4"
		{
			VALUE "CompanyName", "Open Zelda"
			VALUE "FileVersion", "20141201"
			VALUE "FileDescription", "Open Zelda - Zelda Game Creation Tool"
			VALUE "InternalName", "luxengine"
			VALUE "LegalCopyright", "Open Zelda openzelda.net"
			VALUE "LegalTrademarks", ""
			VALUE "OriginalFilename", "luxengine.exe"
			VALUE "ProductName", "Open Zelda"
			VALUE "ProductVersion", "1.9"
		}
	}
BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0C09, 1252
	}
}

